<%= form_with(model: rota, local: true) do |form| %>
  <% if rota.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rota.errors.count, "error") %> prohibited this rota from being saved:</h2>

      <ul>
      <% rota.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :partida %>
    <%= form.text_field :partida %>
  </div>

  <div class="field">
    <%= form.label :tipo_veiculo %>
    <%= form.select(:tipo_veiculo,
      options_for_select(Rota.tipos_veiculos_permitidos,
      rota.tipo_veiculo))%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
