<p id="notice"><%= notice %></p>

<h1>Rotas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Partida</th>
      <th>Tipo veiculo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rotas.each do |rota| %>
      <tr>
        <td><%= rota.nome %></td>
        <td><%= rota.partida %></td>
        <td><%= rota.tipo_veiculo %></td>
        <td><%= link_to 'Mostrar no mapa', rota %></td>
        <% if logged_in? %>
          <td><%= link_to 'Editar', edit_rota_path(rota) %> </td>
          <td><%= link_to 'Excluir', rota, method: :delete, data: { confirm: 'Você está certo disso?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if logged_in? %>
  <%= link_to 'Nova Rota', new_rota_path %>
<% end %>
