
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @rota.nome %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @rota.partida %>
</p>

<p>
  <strong>Tipo veiculo:</strong>
  <%= @rota.tipo_veiculo %>
</p>

<div id="map">Carregando mapa...</div>

<% if logged_in? %>
  <%= link_to 'Editar', edit_rota_path(@rota) %> |
<% end %>
<%= link_to 'Voltar', rotas_path %>

<% if @rota.percurso %>

  <style>
    #map {
      height: 400px;
      width: 80%;
     }
  </style>

  <script>
    function initMap() {
        showRotaOnMaps(<%= @rota.percurso.partida %>,
                       <%= @rota.percurso.destino %>,
                       <%=raw @rota.percurso.waypoints %>);
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=@google_maps_key%>&callback=initMap">
  </script>

<% else %>
  <script>
      $('#map').html('Mapa indisponível, percurso ainda não cadastrado');
  </script>
<% end %>
