<!DOCTYPE html>
<html>
  <head>
    <title>Rotas</title>
    <!-- TODO: reabilitar logo -->
    <!--link rel=icon href=rotas-small.png sizes="16x16" type="image/png"-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
